.outer_container{
    display: block;
      justify-content: center;
      align-items: center;

      width: 100%
}



/* ----- uploading div ----- */

#upload {     /* main outer div */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload_class{   /* form */
    padding: 15px;
    background-color: white;
    width: 450px;
    height: 50px;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.input{  /* input1 */
    padding:5px;
}
.input_file{ /* input2 */
    margin:20px;
    width: 320px;
}

.input:hover {
  background-color: #D0BFFF;
  cursor: pointer;
}

#help_button{
    margin-left: 20px;
}

#help_button:hover {

  cursor: help;
    background-color: #CDFAD5;

}



/* ----- dropdown of type of correlation ----- */
.dropdown { /* main outer div */

    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropbtn { /* drop button */
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown-content { /* second outer div */
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-right: 290px;
}

.dropdown-content a { /* second outer div - anchor */
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {background-color: #ddd;}





/* ----- custom div for new window ----- */
.parent-container { /* main outer div */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidecontainer {  /* second outer div */
    width: 20%;
    margin-top: 20px;
}
.slider {  /* second outer div -- Input */
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
   justify-content: center;
  align-items: center;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}


input{
margin-top: 10px;
}




/* ----- main div for name and table content ----- */

.container {   /* main outer div */
    margin: auto;
    width: 800px;
    display: block;
    justify-content: center;
    align-items: center;
}

.error_class{  /* second outer div */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lh_range_class{
display: flex;
justify-content: center;
    align-items: center;

}

/* ----- name of correlation type ----- */
#p_id{

display: flex;
justify-content: center;
    align-items: center;
}

p{
    text-align: center;
    padding: 5px 5px;
    font-size: 22px;
    font-weight: bold;

}

/* ----- table ----- */
#table_id{
display: flex;
justify-content: center;
    align-items: center;
}

table {
    position: relative;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #ccc;
}

tr:hover {
  background-color: lightblue;
}


